<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>票仓数据表格视图</title>
  <link rel="stylesheet" href="/css/table.css">
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script> 
	<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script> 
</head>
<body>
<div class="ui-table-container">
<table class="ui-table">
    <thead>
      <tr>
        <!-- <th>序号</th> -->
        <th>日期</th>
				<th>时间</th>
				<th>发票数</th>
				<th>领票数</th>
      </tr>
    </thead>
    <tbody>
	    
    </tbody>
</table>
</div>

</body>
<script>
	/*浏览器生成节点，省流量daze*/
	var ballots = {{JSON.stringify(ballots)}};
	var tbody = document.getElementsByTagName("tbody")[0];
	//减少html重排重绘
	tbody.style.display = "none";
	ballots.forEach(function(ballot){
		var tr = document.createElement("tr");
		// var td0 = document.createElement("td");
		var td1 = document.createElement("td");
		var td2 = document.createElement("td");
		var td3 = document.createElement("td");
		var td4 = document.createElement("td");
		td1.innerHTML = ballot.date;
		td2.innerHTML = ballot.time;
		td3.innerHTML = ballot.total;
		td4.innerHTML = ballot.token;
		// tr.appendChild(td0);
		tr.appendChild(td1);
		tr.appendChild(td2);
		tr.appendChild(td3);
		tr.appendChild(td4);
		tbody.appendChild(tr);
	});
	tbody.style.display = "";
	$(document).ready(function() 
    { 
      $("table").tablesorter(); 
    } 
	);
</script>
</html>