<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>票仓数据表格</title>
  <link rel="stylesheet" href="/css/table.css">
  <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script> 
	<script type="text/javascript" src="/js/lib/jquery.tablesorter.min.js"></script> 
  <script type="text/javascript" src="/js/view.js"></script> 
</head>
<body>
<div class="ui-table-container">
<table class="ui-table">
    <thead>
      <tr>
        <!-- <th>序号</th> -->
        <th>日期</th>
				<th>时间</th>
				<th>发票数</th>
				<th>领票数</th>
      </tr>
    </thead>
    <tbody>
	    
    </tbody>
</table>
</div>

</body>
<script>
	/*浏览器生成节点，省流量daze*/
	var ballots = {{JSON.stringify(ballots)}};
	var tbody = document.getElementsByTagName("tbody")[0];
	//减少html重排重绘
	tbody.style.display = "none";
	ballots.forEach(function(ballot){
		var tr = genTrLIst([
      {},
      {innerHTML:ballot.date},
      {innerHTML:ballot.time},
      {innerHTML:ballot.total},
      {innerHTML:ballot.token}
    ]);
		tbody.appendChild(tr);
	});
	tbody.style.display = "";
	$(document).ready(function() 
    { 
      $("table").tablesorter(); 
    } 
	);
</script>
</html>