{% extends "tableBase.html" %}

{% block table %}
{% raw %}
<table class="ui-table bordered highlight" v-show="data&&data.length">
  <thead>
    <tr>
      <th>日期</th>
      <th>时间</th>
      <th>票仓剩余票数</th>
      <th>下次发票时间</th>
      <th>预计发票数</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="data in datas">
      <td>{{data.date}}</td>
      <td>{{data.time}}</td>
      <td>{{data.total}}</td>
      <td>{{data.n_time.replace(/:00$/,"")}}</td>
      <td>{{data.n_number}}</td>
    </tr>
  </tbody>
</table>
{% endraw %}
{% endblock %}