<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="b萌,bilibili萌,曲线,b萌数据,萌战" />
  <meta charset="UTF-8" />
</head>

<body>

  <header>
    <nav class="top-nav">
      <div class="container">
        <a class="button-collapse top-nav full hide-on-large-only" data-activates="nav-left" href="#">
          <i class="mdi-navigation-menu"></i>
        </a>
        <div class="nav-wrapper">
          <a class="page-title">{{title}}</a>
          {% raw %}
          <a :href="avatars.href" target="_blank" v-show="!!avatar_url" @click="avatarClick" @mouseover="avatarHover" @mouseout="avatarHoverout">
            <img v-show="!!avatars.message" :src="avatar_url" class="tooltipped avatar right circle responsive-img" style="height:65px;"
              data-position="left" data-delay="50" :data-tooltip="message">
            <img v-else :src="avatar_url" class="avatar right circle responsive-img" style="height:65px;">
          </a>
          {% endraw %}
        </div>
      </div>
    </nav>
    {% raw %}
    <ul class="side-nav fixed" id="nav-left" style="width: 240px;">
      <li class="logo">
        <a class="brand-logo header" href="/#" id="logo-container">
            <img src="" alt="">
        </a>
      </li>
      <li class="bold"><a class="waves-effect waves-teal" href="/">曲线图</a></li>
      <li class="bold"><a class="waves-effect waves-teal" href="/api/data/camp?format=table">阵营信息</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">海选赛</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=1">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=1">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=2&sex=0&stage=1">萌组复活</a></li>
                <li><a href="/api/data/rank?format=table&stat=2&sex=1&stage=1">燃组复活</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=1">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=1">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">复活赛</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=2">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=2">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=2">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=2">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">本战128强</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=3">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=3">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=3">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=3">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">本战32强</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=4">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=4">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=4">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=4">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">本战16强</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=5">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=5">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=5">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=5">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">本战8强</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=6">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=6">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=6">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=6">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <!--<li class="bold"><a class="collapsible-header waves-effect waves-teal" href="/api/data/role?format=table&date=today">得票数据</a></li>-->
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="/api/data/ballot?format=table&date=today">今日票仓数据</a></li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">b萌原始数据</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/data">角色得票</a></li>
                <li><a href="/voteData">票仓</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    {% endraw %}
  </header>

  <main>
    <div class="container" id="main-content">
      {% block content %}{% endblock %}
    </div>
  </main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">说明</h5>
        <p class="grey-text text-lighten-4">个人娱乐/练手项目，曲线图每小时01分更新一次。</p>
        <p class="grey-text text-lighten-4">项目启动时间为15年11月7日，之前几天数据不全。</p>
        <p class="grey-text text-lighten-4">由于b萌票仓api太过混乱，需要手动修正的地方太多，票仓图已放弃。12月13日之后的票仓图不准确。</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">相关链接</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/iMyon/charts4bmoe">源代码</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/iMyon/charts4bmoe/issues/new">问题反馈</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Myon&ltmyon.cn@gmail.com&gt;
      <a class="grey-text text-lighten-4 right" href="https://github.com/iMyon/charts4bmoe/LICENSE">MIT LICENCE</a>
    </div>
  </div>
</footer>
<div id="cup">
  <div style="z-index: 1002; display: block; opacity: 0.5;" id="materialize-lean-overlay-4" class="lean-overlay"></div>

  <div class="valign-wrapper" id="loading">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/lib/vue.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script>
var dates = {{JSON.stringify(dates)}};
$(".button-collapse").sideNav();
//添加active类
$(document).ready(function(){
  $(".side-nav.fixed li a").each(function(i,e){
    if(e.href == location.href) $(e).parents("li").addClass("active")
      .parents("li.bold").find(".collapsible-header").click();
  });
  $.getJSON("/public/avatar.json", function(res){
    avatarVm.avatars = res[0];
    avatarVm.avatar_url = avatarVm.avatars.normal;
  })
});
//avatar
var avatarVm = new Vue({
  el: "header nav.top-nav",
  data:{
    avatars:{},
    index: 0,
    avatar_url:"",
    message:""
  },
  methods:{
    avatarClick:function(){
      if(!!this.avatars.hover) this.avatar_url = this.avatar_url==this.avatars.click?this.avatars.normal:this.avatars.click;
    },
    avatarHover:function(){
      if(this.avatars.message) this.message = this.avatars.message[this.index++%this.avatars.message.length];
      setTimeout(function(){
        if(!!avatarVm.avatars.hover) avatarVm.avatar_url = avatarVm.avatars.hover;
      },200);
    },
    avatarHoverout: function(){
      setTimeout(function(){
        avatarVm.avatar_url = avatarVm.avatars.normal;
      },500);
    }
  }
});
</script>
{% block endScript %}{% endblock %}

</body>

</html>