<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="/css/icon.css?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
</head>

<body>

  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper"><a class="page-title">{{XXX}}</a></div>
      </div>
    </nav>
    {% raw %}
    <ul class="side-nav fixed  hide-on-med-and-down" id="nav-left" style="width: 240px;">
      <li class="logo">
        <a class="brand-logo header" href="/#" id="logo-container">
            XXX
        </a>
      </li>
      <li class="bold"><a class="waves-effect waves-teal" href="/">曲线图</a></li>
      <li class="bold"><a class="waves-effect waves-teal" href="/api/data/camp?format=table">阵营信息</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">海选赛</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=1">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=1">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=2&sex=0&stage=1">萌组复活</a></li>
                <li><a href="/api/data/rank?format=table&stat=2&sex=1&stage=1">燃组复活</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=1">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=1">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">复活赛</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=2">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=2">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=2">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=2">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">128强赛</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/api/data/rank?format=table&stat=1&sex=0&stage=3">萌组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=1&sex=1&stage=3">燃组晋级</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=0&stage=3">萌组淘汰</a></li>
                <li><a href="/api/data/rank?format=table&stat=3&sex=1&stage=3">燃组淘汰</a></li>
              </ul>
            </div>
          </li>
          <!--<li class="bold"><a class="collapsible-header waves-effect waves-teal" href="/api/data/role?format=table&date=today">得票数据</a></li>-->
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="/api/data/ballot?format=table&date=today">今日票仓数据</a></li>
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">b萌原始数据</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="/data">角色得票</a></li>
                <li><a href="/voteData">票仓</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    {% endraw %}
  </header>

  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer></footer>
  <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/lib/vue.js"></script>
  <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
  <script>
    var dates = {{JSON.stringify(dates)}};
  // $('.collapsible').collapsible({});
  //添加active类
  $(document).ready(function(){
    $(".side-nav.fixed li a").each(function(i,e){
      if(e.href == location.href) $(e).parents("li").addClass("active")
                                      .parents("li.bold").find(".collapsible-header").click();
    });
  });
  </script>
  {% block endScript %}{% endblock %}
  <div id="cup">
    <div style="z-index: 1002; display: block; opacity: 0.5;" id="materialize-lean-overlay-4" class="lean-overlay"></div>

    <div class="valign-wrapper" id="loading">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>