{% extends "tableBase.html" %}

{% block table %}
{% raw %}
<table class="ui-table bordered highlight">
  <thead>
    <tr>
      <th>序号</th>
      <th>动画</th>
      <th>参与人数</th>
      <th>海选晋级</th>
      <th>进入复活赛</th>
      <th>海选淘汰人数</th>
      <th>晋级率</th>
      <th>复活率</th>
      <th>淘汰率</th>
    </tr>
  </thead>
  <tbody class="count" v-show="datas&&datas.length" style="display:none;">
    <tr v-for="data in datas">
      <td></td>
      <td>
        <a target="_blank" href="/api/data/rank?format=table&bangumi={{encodeURIComponent(data.bangumi)}}">{{data.bangumi}}</a>
      </td>
      <td>{{data.total}}</td>
      <td>{{data.suc}}</td>
      <td>{{data.wait}}</td>
      <td>{{data.fail}}</td>
      <td>{{(data.suc / data.total * 100).toFixed(2)}}%</td>
      <td>{{(data.wait / data.total * 100).toFixed(2)}}%</td>
      <td>{{(data.fail / data.total * 100).toFixed(2)}}%</td>
    </tr>
  </tbody>
</table>
{% endraw %}
{% endblock %}