{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s12" id="e-canvas"></div>
</div>
<div class="row">
  <div class="col s1 offset-s1 input-field">
    <select name="date-or-bangumi" id="date-or-bangumi">
      <option value="0" checked>按日期</option>
      <option value="1">按阵营</option>
      <option value="2">票仓图</option>
      <option value="3">面票图</option>
    </select>
    <!--<label for="date-or-bangumi">票数种类</label>-->
  </div>
  <div class="col s1 input-field">
    <select name="sex" id="sel-sex" data-control="true" data-show="013">
      <option value="0" checked>萌</option>
      <option value="1">燃</option>
      <option value="any">萌燃</option>
    </select>
    <!--<label for="sel-sex">选择性别</label>-->
  </div>
  <div class="col s3 input-field">
    <select name="bangumi" id="sel-bangumi" data-control="true" data-show="1">
      {% for bangumi in bangumis %}
      <option value="{{bangumi}}">{{bangumi}}</option>
      {% endfor %}
    </select>
    <!--<label for="sel-bangumi">选择阵营</label>-->
  </div>
  <div class="col s1 input-field">
    <input type="text" id="input-date" class="form-control" value="{{dates[0]}}" placeholder="选择日期" data-control="true" data-show="023">
    <!--<label for="input-date">选择日期</label>-->
  </div>
  <div class="col s2 input-field">
    <select name="chart" id="sel-chart" data-control="true" data-show="0123">
      <option value="0">总票数折线图</option>
      <option value="1">每小时票数折线图</option>
      <option value="2">每小时票率折线图</option>
      <option value="3">总得票率折线图</option>
    </select>
    <!--<label for="sel-chart">图形类型</label>-->
  </div>
  <div class="col s1 input-field">
    <input type="text" class="form-control" placeholder="起始名次" id="sliceStart" name="sliceStart" value="1" data-control="true"
    data-show="0" />
    <!--<label for="sliceStart">起始名次</label>-->
  </div>
  <div class="col s1 input-field">
    <input type="text" class="form-control" placeholder="终止名次" id="sliceEnd" name="sliceEnd" value="16" data-control="true" data-show="0"
    />
    <!--<label for="sliceEnd">终止名次</label>-->
  </div>
</div>

<div class="row">
  <div class="col s12 center-align">
    <a class="waves-effect waves-light btn-large" id="submit">绘制图形</a>
  </div>
</div>

{% endblock %}

{% block endScript %}
<script src="js/lib/echarts.js"></script>
<script src="js/main.js"></script>
{% endblock %}