{% extends "tableBase.html" %} 
{% block table %} 
{% raw %}
<table class="ui-table bordered highlight">
  <thead>
    <tr>
      <th>序号</th>
      <th>存活状态</th>
      <th>名字</th>
      <th>阶段</th>
      <th>得票数</th>
      <th>组内名次</th>
      <th>状态</th>
      <th>性别</th>
      <th>id</th>
      <th>动画</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody class="count" v-show="data&&data.length">
    <tr v-for="data in datas.rankData" >
      <td></td>
      <td>
        <i v-if="datas.failList[[data.name, data.bangumi].join(' @')]" class="material-icons grey-text">error</i>
        <i v-else class="material-icons  teal-text text-lighten-1">done</i>
      </td>
      <td v-if="datas.roleLinks[[data.name, data.bangumi].join(' @')]">
        <a target="_blank" href="{{datas.roleLinks[[data.name, data.bangumi].join(' @')]}}">{{data.name}}</a>
      </td>
      <td v-else>{{data.name}}</td>
      <td>{{stageMap[data.stage]}}</td>
      <td>{{data.count}}</td>
      <td>{{data.rank}}</td>
      <td>{{statMap[data.stat]}}</td>
      <td>{{data.sex==1 ? "男":"女"}}</td>
      <td>{{data.id}}</td>
      <td v-if="datas.bangumiLinks[data.bangumi]">
        <a target="_blank" href="{{datas.bangumiLinks[data.bangumi]}}">{{data.bangumi}}</a>
      </td>
      <td v-else>{{data.bangumi}}</td>
      <td>{{data.date}}</td>
    </tr>
  </tbody>
</table>
{% endraw %} 
{% endblock %}
