<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>角色名次表格视图</title>
  <link rel="stylesheet" href="/css/table.css">
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script> 
	<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script> 
</head>

<body>
  <div class="ui-table-container">
    <table class="ui-table">
      <thead>
        <tr>
           <th>序号</th> 
          <th>名字</th>
          <th>得票数</th>
          <th>组内名次</th>
          <th>状态</th>
          <th>性别</th>
          <th>id</th>
          <th>动画</th>
          <th>日期</th>
        </tr>
      </thead>
      <tbody class="count">

      </tbody>
    </table>
  </div>

</body>
<script>
	var namelinks = {
		"宫内莲华": "http://www.bilibili.com/video/av871584/"
	};
	var camplinks = {
		"悠哉日常大王 第二季": "http://www.bilibili.com/video/av1019708/index_2.html"
	};
  /*浏览器生成节点，省流量daze*/
	var rankData = {{JSON.stringify(rankData)}};
	var tbody = document.getElementsByTagName("tbody")[0];
	//减少html重排重绘
	tbody.style.display = "none";
	rankData.forEach(function(data){
		var tr = document.createElement("tr");
		var td0 = document.createElement("td");
		var a1 = document.createElement("a");
		a1.target = "_blank";
		if(namelinks[data.name] !== undefined){
			a1.href = namelinks[data.name];
			a1.innerHTML = data.name;
		}
		var a7 = document.createElement("a");
		a7.target = "_blank";
		if(camplinks[data.bangumi] !== undefined){
			a7.href = camplinks[data.bangumi];
			a7.innerHTML = data.bangumi;
		}
		var td1 = document.createElement("td");
		var td2 = document.createElement("td");
		var td3 = document.createElement("td");
		var td4 = document.createElement("td");
		var td5 = document.createElement("td");
		var td6 = document.createElement("td");
		var td7 = document.createElement("td");
		var td8 = document.createElement("td");
		if(namelinks[data.name] !== undefined) td1.appendChild(a1);
		else  td1.innerHTML = data.name;
		td2.innerHTML = data.count;
		td3.innerHTML = data.rank;
    if(data.stat == 1) td4.innerHTML = "晋级";
    else if(data.stat == 2) td4.innerHTML = "复活";
    else td4.innerHTML = "淘汰";
		td5.innerHTML = data.sex==1 ? "男":"女";
		td6.innerHTML = data.id;
		if(camplinks[data.bangumi] !== undefined) td7.appendChild(a7);
		else  td7.innerHTML = data.bangumi;
		td8.innerHTML = data.date;
		tr.appendChild(td0);
		tr.appendChild(td1);
		tr.appendChild(td2);
		tr.appendChild(td3);
		tr.appendChild(td4);
		tr.appendChild(td5);
		tr.appendChild(td6);
		tr.appendChild(td7);
		tr.appendChild(td8);
		tbody.appendChild(tr);
	});
	tbody.style.display = "";

	$(document).ready(function() 
    { 
      $("table").tablesorter(); 
    } 
	);

</script>

</html>