<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>角色得票数据表格视图</title>
  <link rel="stylesheet" href="/css/table.css">
  <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script> 
	<script type="text/javascript" src="/js/lib/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="/js/view.js"></script> 
</head>
<body>
<div class="ui-table-container">
<table class="ui-table">
    <thead>
      <tr>
        <!--<th>序号</th> -->
        <th>id</th>
				<th>名字</th>
				<th>得票数</th>
				<th>日期</th>
				<th>时间</th>
				<th>性别</th>
				<th>动画</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>
	
</body>
<script>
	/*浏览器生成节点，省流量daze*/
	var roles = {{JSON.stringify(roles)}};
	var tbody = document.getElementsByTagName("tbody")[0];
	//减少html重排重绘
	tbody.style.display = "none";
	roles.forEach(function(role){
		role.data.forEach(function(d){
      var tr = genTrLIst([
        // {},
        {innerHTML:role.id},
        {innerHTML:role.name},
        {innerHTML:d.count},
        {innerHTML:role.date},
        {innerHTML:d.time},
        {innerHTML:role.sex==1 ? "男":"女"},
        {innerHTML:role.bangumi}
      ]);

			tbody.appendChild(tr);
		});
	});
	tbody.style.display = "";
	$(document).ready(function() 
    { 
      $("table").tablesorter(); 
    } 
	);
</script>
</html>