{% extends "tableBase.html" %} {% block table %} {% raw %}
<table class="ui-table bordered highlight">
  <thead>
    <tr>
      <th>名字</th>
      <th>动画</th>
      <th>得票数</th>
      <th>分组</th>
      <th>日期</th>
      <th>时间</th>
      <th>性别</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody v-show="data&&data.length">
    <template v-for="role in datas">
      <template v-for="data in role.data">
        <tr>
          <td>{{role.name}}</td>
          <td>{{role.bangumi}}</td>
          <td>{{data.count}}</td>
          <td>{{role.group}}</td>
          <td>{{role.date}}</td>
          <td>{{data.time}}</td>
          <td>{{role.sex==1 ? "男":"女"}}</td>
          <td>{{role.id}}</td>
        </tr>
      </template>
    </template>
  </tbody>
</table>
{% endraw %} {% endblock %}