@media only all and (max-height: 900px) {
#main{height:600px;}
}
@media only all and (min-height: 1000px) {
  #main{height:700px;}
}
html,body{
  height: 100%;
}
body:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-attachment: fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}
/*遮罩*/
#cup{
  display: none;
  position: fixed;  
  z-index: 1000;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  opacity: 0.7;  
  overflow: hidden;  
  background-color: white;  
}
#beforeDraw{
  text-align: center;
  /*垂直居中*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#data-tip{
  color: #9698AA;
}
#main{
  /*background: red;*/
}

#submit {
  margin-top: 15px;
  padding: 12px 30px;
  text-transform: uppercase;
  background-clip: padding-box;
  background-color: #ddd;
  background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font: bold 13px arial,helvetica,sans-serif;
  overflow: visible;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  transition: background-color 0.2s ease-out 0s;
  white-space: nowrap;
}
#submit:hover {
  background-color: #EEE;
  color: #555;
}
#submit:active {
  background: #E9E9E9 none repeat scroll 0% 0%;
  position: relative;
  top: 1px;
  text-shadow: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
}

/*progressBar*/
#progressBar {
  margin:0 auto;
  width: 400px;
  height: 35px;
  border: 1px solid #F3E579;
  border-radius: 6px;
  background-color: none;
  text-align: left;
  /*垂直居中*/
/*  position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}
/*进度条样式*/
#progressBar span.bar {
  height: 100%;
  color: black;
  text-align: right;
  border-radius: 6px;
  line-height: 35px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
}
/*#progressBar span.decorator{
  width: 80px;
  height: 70px;
  z-index: 999999;
  display: block;
  position: absolute;
  left: -2000px;
  top: -10px;
  background-image: url("../img/喵帕斯.png");
  background-repeat:no-repeat;
  background-position: right;
  background-size: 80px 70px;
}*/
/*添加尾巴图片*/
/*#progressBar div:before{
  content: "";
  width: 80px;
  height: 70px;
  background-image: url("../img/喵帕斯.png");
  background-repeat:no-repeat;
  background-position: right;
  background-size: 80px 70px;
  top: -50px;
  z-index: 9999;
  position: relative;
  display: inline-block;
}*/

.footer{
  display: block;
  height: 50px;
  margin-top: 20px;
}
.footer p, .footer a {
  color: #D8CFDA;
}
.footer p{
  margin:0;
}

/*通知信息*/
div.warn{
  text-align: center;
  background: #CC4B00;
  color: white;
}
div.warn a{
  color:#3A99D8;
  text-decoration:none;
}
div.notice{
  text-align: center;
  background: #3A99D8;
  color: white;
}
div.notice a{
  color:#F57E42;
  text-decoration:none;
}

div.notice{
  transition:all 500ms ease-in-out;
  opacity: .6;
}
div.notice:hover{
  transition:all 500ms ease-in-out;
  opacity: 1;
}
