#e-canvas {
  min-height: 700px;
}
@media only all and (max-height: 900px) {
  #e-canvas {
    min-height: 500px;
  }
}

body {
  height: 100%;
  min-width: 1200px;
}
#main-content{
}
/*footer固定在底部*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1 1 auto;
}

body:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    /*background-image: url(../img/bg.png);*/
    background-repeat: no-repeat;
    background-position: 100% 30%;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

/*遮罩*/

#cup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    overflow: hidden;
    background-color: white;
}

#beforeDraw {
    text-align: center;
    /*垂直居中*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#data-tip {
    color: #9698AA;
}

#main {
    /*background: red;*/
}

/*progressBar*/

#progressBar {
    margin: 0 auto;
    width: 400px;
    height: 35px;
    border: 1px solid #F3E579;
    border-radius: 6px;
    background-color: none;
    text-align: left;
}

.footer {
    display: block;
    height: 50px;
    margin-top: 20px;
}

.footer p,
.footer a {
    color: #D8CFDA;
}

.footer p {
    margin: 0;
}

/*通知信息*/

div.warn {
    text-align: center;
    background: #CC4B00;
    color: white;
}

div.warn a {
    color: #3A99D8;
    text-decoration: none;
}

div.notice {
    text-align: center;
    background: #3A99D8;
    color: white;
}

div.notice a {
    color: #F57E42;
    text-decoration: none;
}

div.notice {
    transition: all 500ms ease-in-out;
    opacity: .6;
}

div.notice:hover {
    transition: all 500ms ease-in-out;
    opacity: 1;
}

/*materializecss modify*/

header,main,footer {
    padding-left: 240px;
}
@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
#nav-left{
  z-index: 1003;
}
#loading{
  position: fixed;
  z-index: 1005;
  top: 50%;
  left: 50%;
}

.container {
    width: 95%;
    max-width: 1680px;
}

.page-title {
    font-size: 35px;
}

.side-nav.fixed a.header {
    font-size: 25px;
    color: #ee6e73;
}

ul.side-nav.fixed li.bold:hover,
ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
    background-color: #ee6e73;
}

ul.side-nav.fixed li a {
    font-size: 16px;
    height: 44px;
    line-height: 44px;
}

ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF;
}

.bold > a {
    /*font-weight: bold;*/
}
ul.side-nav.fixed li.bold>a{
  font-size: 18px;
}

/*表格自动编号*/

tbody.count {
    counter-reset: sectioncounter;
}

tbody.count td:first-child::before {
    content: counter(sectioncounter);
    counter-increment: sectioncounter;
}

/*modal*/
.date-unit span{
  cursor: pointer;
}
.rest span,.date-unit span{
  font-size: 20px;
}
.week{
  font-size: 20px;
  font-family: bold;
}
.modal h4 {
  font-size: 30px;
}
.modal-footer .btn-flat{
  font-size: 20px;
}
#modal-bangumi .collection a.collection-item{
  font-size: 18px;
}
.date-selected{
  color: #ee6e73;
}
.bangumi-selected{
  background: #26a69a !important;
  color: #fff !important;
}

/*avatar*/
.avatar:hover{
  transform: scale(1.2);
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
.avatar{
  transition: all 0.2s ease-out 0s;
}

/*logo*/
.logo img{
  width: 200px;
}
.side-nav li.logo{
  height: 80px;
  padding-left: 0px;
}
.logo a,.logo,.logo li{
  background: none !important;
}